<form ng-controller="uploadController" name="form">
    <div>
        <h1>Carica Perizia</h1>
	<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <hr>
        Scegli il file della perizia:
        <input type="file" ngf-select ng-model="filePerizia" 
	    name="file" ngf-pattern="'application/pdf'"
	    accept="application/pdf" ngf-max-size="20MB"
	    style="display: none" id="selectedFile"/>

        <a ng-click="cerca()" type="submit" class="btn btn-default">
	  Cerca
	</a>

        <!--Image thumbnail: <img style="width:100px;" ng-show="!!file" ngf-thumbnail="file || '/thumb.jpg'"/> -->
        <!--<i ng-if="form.file.name.size">Il file {{file.name}} e' stato scelto</i>-->

        <p ng-show="cercata">
	  Il file selezionato è {{filePerizia.name}}. 
	  <br/>
	  Clicca su Salva per aggiungerlo al database.
	</p>  
        
	<a ng-show="cercata" type="submit" class="btn btn-default" ng-click="submit()">
	  Salva
	</a>

	<div ng-show="erroreLonLat">
          <p>
            Impossibile identificare le coordinate gps dell'indirizzo {{perizia.Indirizzo}} {{perizia.N_civico}}, {{perizia.Comune}}, {{perizia.CAP}} {{perizia.Provincia}} con Openstreetmaps. 
            E' necessario inserire le coordinate gps manualmente. 
            Per fare ciò utilizzare google maps come mostrato nel <a href="https://www.youtube.com/watch?v=RVVeQFZQbPA">video</a> (su google maps cliccare con il tasto destro del mouse 
            sulla posizione in cui è collocato l'immobile, poi scegliere il campo "Cosa c'è qui").
          </p>
          Longitudine: <input name="input2" type="number" ng-model="perizia.loc[0]" min="36" max="47" required> 
	  Latitudine: <input name="input1" type="number" ng-model="perizia.loc[1]" min="6" max="20" required>  
          </br>
	  <a ng-click="submitLatLon()" type="submitLatLon" class="btn btn-default">
	    Salva
	  </a>    
	</div>
	<p ng-show="submitted">
	  Il file selezionato è stato salvato
	</p>
        
	<i ng-show="form.file.$error.required" >*campo obbligatorio</i><br>

        <i ng-show="form.file.$error.maxSize">Il file e' troppo grande {{filePerizia.size / 1000000|number:1}}MB, la dimensione massima possibile e' 20MB</i>

        <a ng-show="(cercata && submitted)" type="submit" class="btn btn-default" ng-click="visualizza()">
	  Visualizza
	</a>
    </div>

    <div ng-show="show">
      <hr>
        <h1>Dati perizia</h1>
        <hr>
        <br style="line-height:0.5em">   
        <div style="outline:1px solid green;">
          {{perizia.Data_Evasione_Perizia | date: "dd/MM/yyyy"}} - {{perizia.Tipologia_edilizia}} - {{perizia.SUPERFICIE_COMMERCIALE_MQ}}</div>
	<br style="line-height:1.5em">
        <div style="text-indent: 3em;">{{perizia.Valore_di_mercato_del_lotto}}&#8364;</div>
        <div style="text-indent: 3em;"> Provincia: {{perizia.Provincia}}&emsp;Comune: {{perizia.Comune}}&emsp;CAP: {{perizia.CAP}}&emsp;Indirizzo: {{perizia.Indirizzo}} N.Civico: {{perizia.N_civico}}</div>
    </div>
</form>
<hr>
<div ng-controller="logoutController">
    <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>   
      

